<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>

</head>
<body>
<!-- templates/admin/location/import_locations.html -->
{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Import Locations from CSV</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Import CSV</button>
  </form>
{% endblock %}

</body>
</html>

